@charset "utf-8";
/*
* Author: 熊猫小A
* Links: https://blog.imalan.cn
*/

/* basic */
html {
	font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif;
    line-height:1.15;
    width: 100%;
	-ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    color: rgba(0, 0, 0, 0.86);
}
article,aside,footer,header {
	display:block
}
*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    background: rgba(255,255,255,0.7);
    width: 4px;
    height: 6px;
    border-radius:2px
}
::-webkit-scrollbar-thumb {
    background: rgba(37, 36, 36, 0.57);
    border-radius:2px
}

/* main layout */
header,footer{
    width: 100%;
    overflow: hidden;
    position: relative;
}

body {
    margin:0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease all;
}
header{
    height: 300px;
    max-height: 30vh;
    margin-bottom: 25px
}
footer{
    height: 40px;
    margin: 10px auto;
    margin-bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
#main{
    flex: 1;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
#main-content{
    width: 1360px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#pjax-container{
    flex: 1;
    width: -moz-calc(100% - 580px);
    width: -webkit-calc(100% - 580px);
    width: calc(100% - 580px);
    position: relative;
    padding: 0 1em;
    margin: 0 auto;
	max-width: 800px;
}
.sider{
    flex: 0 0 270px;
    max-width: 270px;
    min-width: 270px;
}

/* header */
header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:40px;
}
.blog-title{
    margin: 0.2em 0;
    color: white;
    max-width: 80%;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 3em;
    letter-spacing: 0.3em; 
}
#header-nav{
    position: fixed;
    left: 0;
    top:0;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 40px;
    z-index: 2;
}
#header-nav .header-nav-inner{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 .35em;
    z-index: 2;
}
#header-nav, #header-nav a{
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.25s;
}
#header-nav a{
    margin: 0 0.3em;
}
#header-nav a:hover{
    color: red
}
#tgl-mbl-nav{
    display: none;
}
/* search panel */
#search-box{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 999;
    background-color: rgba(255,255,255,0.99);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#search-box input{
    height: 50px;
    width: 80vw;
    font-size: 1.1em;
    max-width: 600px;
    padding: 1em;
    border: 1px rgba(0,0,0,0.5) solid;
    border-radius: 10px;
    outline:none;
    text-align: center
}
#search-buttons{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 80vw;
    max-width: 600px;
}
#search-buttons button,#search-buttons a{
    font-size: 1.3em;
    padding: 0.2em;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
}
#search-buttons button:hover{
    color: red;
}
.hide{
    display: none!important;
}




/* footer */
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1em;
}
footer, footer a {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,0.2);
}
footer a:hover{
    color:#202020;
}



/* aside */
#aside{
    margin-left: 0.5rem;
}
#aside-close-btn{
    display: none;
    position: absolute;
    top:10px;
    left: 20px;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    z-index: 3;
}
#aside-close-btn,#aside-close-btn a{
    color: #202020;
}
#author-info{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#author-info .author-bg{
    width: 100%;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#author-info .author-avatar{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 85px;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease all;
}
#author-info .author-avatar:hover{
    transform: scale(1.1);
}
#author-info .author-name{
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 70px 0 20px 0;
    font-size: 2em;
}
#author-info .author-links{
    width: 100%;
    padding: 0 0.4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
}
.author-links ul{
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 0;
}
#author-info .author-links span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 0.2em;
    font-size: 1.8em;
    transition: 0.3s ease all;
    cursor: pointer;
}
#author-info .author-links span a{
    color: #202020;
}
#author-info .author-links span:hover{
    transform: scale(1.2);
}
#mbl-ctrler{
    display: none;
    margin: 10px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mbl-ctrler a{
    color: #a9a9a9;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.85);
    padding: 10px;
    display: block;
    width: 170px;
    margin: 5px auto;
    text-align: center;
    font-size: 1em;
}
#uptime{
    margin-top: 10px;
    width: 100%;
    font-size: 1em;
    line-height: 1.4em;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
#uptime::before{
    content:"#感谢你的陪伴";
}
#music{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top:10px;
    overflow:hidden;
}





/* right widget */
#widget-right{
    margin-right: 0.5rem;
}
#recent-comments{
    margin-bottom: 10px;
}
#recent-comments::before{
    content: "#最近评论";
}
.rc-avatar{
    background: black;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.rc-avatar img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#hot-posts{
    margin-bottom: 10px;
}
#hot-posts::before{
    content: "#最受欢迎";
}
#TOC{
    background: white;
    max-height: 600px;
    overflow-y: auto;
    width: 270px;
}
#TOC::before{
    content: "#TOC";
}
#TOC ul{
    list-style: none;
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0 auto;
    transition: 0.3s ease all;
}
#TOC ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5em;
}
#TOC ul li a{
    color: #1abc9c;
}
.toc-level-3{
    padding-left: 1.5em;
}
.toc-level-4{
    padding-left: 3em;
}
.toc-level-5{
    padding-left: 4.5em;
}
.toc-level-6{
    padding-left: 5.5em;
}
.TOC-inner{
    width: 100%;
    max-height: 90vh;
    overflow: auto;
    padding: 0 1em 0 0;
}
.toc-fixed{
    position: fixed!important;
}

/* main part */
#crumbs-patch{
    padding: 1em;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 10px;
}
#loading{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
	margin-top: 60px;
	font-size: 35px;
	text-align: center;
	line-height: 1.4em;
	font-family: bgmSigmarOne;
	animation: shake-shake .01s reverse infinite cubic-bezier(0.68,-0.55,0.27,1.55);
    color: #d5527d!important;
    display: none;
}
/* pager in home */
.page-navigator{
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin: 40px auto;
    padding: 0 1em;
}
.page-navigator li{
    display: none;
    font-size: 1.3em;
    padding-top: 0.3em;
    border-top: 5px solid rgba(0,0,0,0.1);
}
.page-navigator .next,.page-navigator .prev{
    display: inline;
}
.page-navigator,.page-navigator  a{
    color: rgba(0,0,0,0.4);
}
.page-navigator  a:hover{
    color: black;
}
/* pager in post */
.post-pager{
    flex-flow:column nowrap;
    background-color:#f7f8fa;
    align-items: center;
    justify-content:center;
    max-width: 100%;
}
.post-pager li{
    flex:1;
    max-width:100%;
    border:none;
    text-align:center;
    padding:0.7em;
}
.post-pager li:first-child{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.post-pager .prev a::before,.post-pager .next a::after{
    content:none!important;
}
.pager-name{
    font-size: 0.7em;
    display: block;
    padding: 0.3em;
    border: 1px solid rgba(0,0,0,0.2);
    width: max-content;
    margin: 0 auto;
    margin-bottom: 0.3em;
    border-radius: 5px;
    white-space: nowrap;
    width:min-content;
    width: -moz-min-content;
}

article{
    line-height: 1.8;
    width: 100%;
    max-width: 100%;
    margin-right: auto!important;
    margin-left: auto!important;
}
#blog-notice{
    background: #f0f8e5;
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.4em;
}
#pjax-container > article{
    padding-bottom: 1em;
    margin-bottom: 40px;
    position: relative;
}
#pjax-container > .post-like{
    color: #303030;
    text-align: center;
    font-size: 25px;
    display: flex;
    width: 90px;
    line-height: 90px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 45px;
    margin: 10px auto;
    transition: 0.3s ease all;
}
#pjax-container > .post-like:hover{
    background-color: aquamarine;
}
#pjax-container > .post-like .like-num{
    margin-left: 0.2em;
}
#pjax-container > .post-like:hover{
    border: 1px solid rgba(0,0,0,0.3);
}


/* article style */
article > *{
    max-width: 100%!important;
}
article p.img-grid{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: max-content;
    width: -moz-max-content;
    margin: 0 auto;
}
blockquote *, ul *,ol *{
    max-width: 100%;
}
article .excerpt{
    margin:0 auto;
}
/* detailed style for elements in article */
article p{
    font-size: 1em;
    word-wrap: break-word;
}
article h1,article h2,article h3,article h4,article h5,article h6{
    margin-top:0.2em;
    margin-bottom:0.2em;
}
article h1{
    font-size: 2.5em;
    margin-top: 0;
}
article h2{
    font-size: 2em;
}
article h3{
    font-size: 1.7em
}
article h4{
    font-size: 1.4em;
}
article a{
    padding: 0!important;
}
article code{
    font-size: .97em;
    padding: 0.2em;
    border-radius: 0.25em;
    background-color: rgba(0,0,0,0.04);
    font-family: Consola,Menlo,Monaco,Courier New,monospace;
}
article pre{
    margin: 1.64em auto;
    border: none;
    overflow: hidden;
    line-height: 1.5;
    font-family: Consola,Menlo,Monaco,Courier New,monospace;
}
article pre code{
    background: none;
    padding: unset;
    font-family: Consola,Menlo,Monaco,Courier New,monospace;
}
article sup{
    margin: 0 0.3em;
    display: inline-block;
    text-indent: 0;
    width: 14px;
    text-align: center;
    font: 700 8px/14px -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    border-bottom: 0;
    background-color: rgba(0,0,0,.18);
    border-radius: 14px;
    vertical-align: top;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}
article p img{
    max-width: 100%;
    width: 100%;
}
article p.img-grid img{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 100%;
}
.zoom-img-wrap img{
    height: unset!important;
}
.img-grid{
    max-width: 100%!important;
}
@media screen and (max-width:1000px){
    .img-grid{
        max-width: 100%!important;
    }
}
article p.img-grid.p-1{
    justify-content: center!important;
}
article p.img-grid.p-2 img{
    width: 49%;
    margin-bottom: 2%;
}
article p.img-grid.p-3 img{
    width: 32%;
}
article p.img-grid.p-4 img{
    width: 49%;
    margin-bottom: 2%;
}
article sup a{
    color: white!important;
}
article blockquote{
    font-size: 1em;
    position: relative;
    padding: .4em 1em 0 1em;
    margin: 0.5em 0;
    color: #2c3f51;
    border-left: 3px solid #282c34;
    background-color: rgba(102,128,153,0.05);
}
article blockquote p:first-child{
    margin-top: 0;
}
article hr{
    display: block;
    border: 0;
}
article hr::after{
    color: rgba(0,0,0,.2);
    font-size: 1.7em;
    display: block;
    content: "* * *";
    text-align: center;
}
article > ol,article > ul{
    list-style-position: inside;
    padding: 1em;
    padding-left: 2em;
}
article > ul > li{
    text-indent: -1em;
}
article .footnotes ol{
    margin-top: 0;
    padding-top:0;
    padding-left: 1em;
}
article .footnotes ol::before{
    content: "";
    display: block;
    border-top: 4px solid rgba(0,0,0,.1);
    width: 50%;
    max-width: 100px;
    margin: 40px 0 20px;
}
article a:hover{
    border-bottom: 1px dashed #1abc9c;
}
a{
    color: #1abc9c;
    text-decoration: none
}
article .excerpt{
    color: rgba(0,0,0,.42);
    font-size: 1.42em;
    font-weight: 300;
}
.footnotes hr{
    display:none
}


/* comment section */
#comments{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
#coments form,#coments p{
    width: 100%;
}
.comment-info-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment-info-input input{
    flex: 1;
    max-width: 33%;
    height: 2.5em;
    padding: 0.2em;
    outline: none;
    border-radius: 0.5em;
    border: none;
    background-color: rgb(247,248,250);   
}
#textarea{
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(247,248,250);
    padding: 0.7em;
    outline: none;
}
.comment-buttons{
    position: relative;
    margin: 0;
    margin-bottom: 2.5em;
    height: 1px;
}
.OwO{
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
}
.OwO .OwO-logo{
    z-index: unset!important;
}
.OwO .OwO-body{
    max-width:100%;
}  
.comment-mail-me{
    right: 0;
    position: absolute;
}  
.OwO .OwO-body .OwO-items-image .OwO-item{
    max-width:-moz-calc(20% - 10px);
    max-width:-webkit-calc(20% - 10px);
    max-width:calc(20% - 10px)
}
@media screen and (max-width:760px){
    .OwO .OwO-body .OwO-items-image .OwO-item{
        max-width:-moz-calc(25% - 10px);
        max-width:-webkit-calc(25% - 10px);
        max-width:calc(25% - 10px)
    }
}
#comment-submit-button{
    width: 100%;
    outline: none;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(247,248,250);
    transition: 0.3s ease background-color;
    padding: 0.2em
}
#comment-submit-button:hover{
    color: white;
    background-color:black;
}
#comments .comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
#comments .comment-list li.comment-body {
    margin-top: 1.625rem;
}
#comments>.comment-list>.comment-body {
    padding-bottom: .5rem;
}
#comments .comment-author {
    display: block;
    margin-bottom: .1875rem;
    color: #444;
    font-size: .875rem;
    font-weight: 500;
}
#comments .comment-author .avatar {
    background-color: #f0f0f0;
}
#comments .comment-author .avatar {
    float: left;
    margin: 0 .625rem 0 0;
    border-radius: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #2c2a2a;
}
#comments .avatar {
    position: relative;
}  
#comments .comment-author cite {
    line-height: 1.2;
    font-style: normal;
    color: #F55852 !important;
}
#comments .comment-list li .comment-reply {
    float: right;
    font-size: .813rem;
    font-weight: 500;
}
#comments .comment-list a, body.color-custom #comments .respond a {
    color: #F55852;
}
#comments a, #comments a:link, #comments a:visited {
    color: #1abc9c;
    text-decoration: none;
    cursor: pointer;
    text-transform: none;
}
#comments .comment-meta a {
    color: #999 !important;
    font-size: .75rem;
    font-weight: 400;
}
#comments a, #comments a:link, #comments a:visited {
    color: #1abc9c;
    text-decoration: none;
    cursor: pointer;
    text-transform: none;
}
#comments .comment-content {
    overflow: hidden;
    color: #333;
    padding: .625rem 0 0 0;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: .9375rem;
}
.comment-content>*:last-child {
    margin-bottom: 0 !important;
}
#comments .comment-children {
    padding-left: 3.75rem;
}
#comments>.comment-list>.comment-body>.comment-children>.comment-list {
    border-left: .25rem solid rgba(0,0,0,0.1);
    padding-left: 1rem;
}
.cancel-comment-reply{
    text-align: right;
}
.comment-reply-author{
    margin-right: 0.8em;
}
.comment-content *{
    max-width: 100%;
}
.comment-content img.biaoqing{
    display: inline-block;
    height: 1.6em;
    vertical-align: bottom;
}
#comments .comment-body.comment-by-author > .comment-author cite.fn:after {
    content: "博主";
    margin-left: .375rem;
    font-size: .75rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    border-radius: .25rem;
    padding: .0625rem .1875rem; 
}
.OwO .OwO-body{
    min-width: 245px;
}
.comment-info-input input,#textarea,#comment-submit-button{
    font-size: 1em;
    padding: 0.5em;
    font-family: 'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei','Segoe UI Emoji','Segoe UI Symbol',Helvetica,Arial,sans-serif;
}


/* standalone elements and attr */
.noscroll{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
}
.show-aside{
    transition: 0.3s ease all;
    transform: translateX(-100%)
}
.sider-item{
    padding-top: 50px;
    padding-bottom: 1em;
    position: relative;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    transition: 0.3s ease all;
}
.sider-item::before{
    position: absolute;   
    font-size: 20px;
    color: rgba(0,0,0,0.3);
    left: 10px;
    top: 10px;
}
.sider-item > span{
    position: absolute;
    line-height: 20px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.sider-item span:hover{
    color: black;
}
.sider-item ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.sider-item ul li{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 0.9em;
}
.sider-item ul li a{
    line-height: 1.3;
    flex: 1;
    color:rgba(0,0,0,0.9);
}
.sider-item ul li a span{
    margin-top: 0.5em;
    display: inline-block;
}
.sider-shrink{
    transition: 0.3s ease all;
    padding-top:30px;
}
.sider-shrink ul{
    display: none
}
.blur{
    transition:0.5s;
    filter: blur(50px);
}
.mask{
    transition:0.2s;
}
.banner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-item{
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.site-bg,.site-bg-mask{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
}
.site-bg{
    z-index: -2;
}
.site-bg-mask{
    z-index: -1;
    background: rgba(255,255,255,0.9);
}
/* post list in home */
.index-item{
    position: relative;
    margin: 1em auto;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}
.index-item:first-child{
    margin-top: 0;
}
.index-item-thumb{
    position: absolute;
    height: 100%;
    width: 55%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition:0.1s;
}
.index-item  article{
    padding: 1em 0;
    position: absolute;
    width: 43%;
    top: 0;
    right: 0;
    z-index: 1;
}
.index-item  article *{
    max-width: 100%;
}
.banner-none{
    min-height: 200px;
    display: flex;
    align-items: center;
}
.banner-none article{
    width: 100%;
    position: relative;
}
.banner-overlay article,.banner-overlay .index-item-thumb{
    width: 100%;
}
.banner-overlay .mask{
    background:rgba(0,0,0,0.5);
}
.banner-overlay article{
    top:unset;
    bottom: 0;
}
.index-item-title,.index-item-title a{
    font-weight: 600;
    font-size: 36px;
    margin: 10px 0 20px;
    color: #202020;
    line-height: 1.15!important;
    margin: 0.2em 0;
    margin-bottom: 0.5em;
}
.index-item-title,.index-item-title a:hover{
    color: red;
    border: none;
}
.index-item-excerpt{
    font-weight: 300;
    font-size: 24px;
    margin: 0 0 20px;
    color: #9ea0a6;
    line-height: 1.15!important;
}
.has-banner article{
    padding: 1em;
}
.has-banner .mask{
    display:none;
}
.banner-overlay .mask{
    display:block;
}
.banner-overlay .index-item-title a{
    color: white;
    font-size: 36px;
}
.banner-overlay .index-item-excerpt{
    font-size:22px;
    color: #f0f0f0;
}
.banner-overlay:hover .mask{
    background:rgba(0,0,0,0.6);
}
.article-index{
    border-radius: 6px;
}
.post-meta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #a0a0a0;
    font-size: 0.98em;
    margin-bottom: 10px;
}
.pm-avatar{
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 25px;
    margin-right: 10px;
}
.pm-info{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.banner-overlay .post-meta,.banner-overlay .post-meta a{
    color: #f1f1f1;
}
.post-header .post-meta,.post-header .post-meta a{
    color:#f1f1f1;
    text-align:center;
    z-index: 1;
}
.post-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* board item for friend-links and other boards */
.board-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 100%;
    padding-top: 1em;
}
.board-item {
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    overflow: hidden;
    background: white;
    /* contents in item */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.board-item:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.board-thumb {
    width: 100%;
    /* customize this for diffrent style */
    padding-top: 141%;
    background-repeat: no-repeat;
    background-size: cover;
}
.board-title,.board-title a{
    margin: 8px 0!important;
    font-size: 1.2em!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap !important;
    text-align: center !important;
    color: #202020 !important;
    font-weight: 700 !important;
}
/* detail panel */

.board-info{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s;
    background-color: white;
    color: black;
    font-size: 0.9em;
    line-height: 1.3em;
    transform: translateY(100%);
    padding: 0.5em;
}
.board-info-show > .board-info{
    transform: translateY(0);
}
/* special for douban */
.board-info>.douban-info-basic{
    white-space: nowrap!important;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* loadmore button (span) */
.loadmore{
    padding: 0.3em;
    background: black;
    color: white;
    transition:0.2s;
    margin-top: 20px;
    display: block;
    width: max-content;
    width: -moz-max-content;
}
.loadmore:hover{
    background: rgba(0,0,0,0.6);
}




/* fix for third party */
#music > .aplayer{
    margin: 0;
}
.hljs{
    overflow-y: hidden;
}


/* custom fix */
.site-title{
    font-size: 110px;
    letter-spacing: 40px;
}



/* device query for responsive diesign */
@media screen and (max-width:1023px){
    #widget-right,#TOC{
        display: none;
    }
}

@media screen and (max-width: 1300px){
    #pjax-container{
        max-width: 100%;
    }
    /* fix sider */
    #side-buttons, #uptime,#music{
        display: none;
    }
    #aside{
        display: block;
        position: fixed!important;
        top:0!important;
        left: 100vw!important;
        transition: 0.3s;
        z-index: 2;
        min-height: 100vh;
        margin-left: 0;
    }
    #aside-close-btn{
        display: flex;
        font-size: 1em;
    }
    #aside {
        max-height: 100vh;
    }
    .aside-inner{
        height:100vh
    }
    #author-info .author-avatar{
        top:35px;
    }
    #author-info .author-bg{
        display: none
    }
    #author-info .author-name{
        margin: 165px 0 20px 0;
    }
    #author-info .author-name{
        color: #a9a9a9;
    }
    #author-info .author-links{
        max-width: 90%;
    }
    #author-info{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #tgl-mbl-nav,#tgl-mbl-nav *{
        display: inline;
    }
    .aside-inner,#author-info,#author-info .author-links span{
        background-color: #202020;
    }
    #aside-close-btn, #aside-close-btn a,
    #author-info .author-links span a{
        color: #a9a9a9;
    }
    #mbl-ctrler{
        display: flex;
    }

    /* fix header and footer */
    .footer-right{
        display: none;
    }
    span.site-nav-name{
        display: none;
    }
    #site-nav{
        padding: 0;
    }
    #header-nav a{
        font-size: 0.9em;
    }
    #site-nav a{
        font-size: 0.9em;
        color: #f0f0f0;
    }
    .header-nav-name{
        display:none!important
    }
    header{
        margin-bottom:10px;
    }
}

@media screen and (max-width: 767px){
    .blog-title{
        font-size: 1.8em;
    } 
    .blog-meta,.blog-meta a{
        font-size: 1rem;
    }
    .site-title{
        font-size: 52px;
        letter-spacing: 10px; 
    }  
    .site-nav a{
        font-size: 0.9em;
    }
    .index-item-thumb{
        width: 100%;
        transition: 0.2s
    }
    .has-banner .mask{
        background:rgba(0,0,0,0.3);
        display: block
    }
    .has-banner .index-item-thumb,.has-banner article{
        width: 100%;
        top:unset;
        bottom: 0;
    }
    .has-banner .index-item-title a{
        color: white;
        font-size: 32px;
    }
    .has-banner .index-item-excerpt{
        font-size:22px;
        color: #f0f0f0;
    }
    .has-banner .post-meta,.has-banner .post-meta a{
        color: #f1f1f1;
    }
    .has-banner:hover .mask{
        background:rgba(0,0,0,0.6)
    }
    .post-meta,.post-meta a{
        font-size: 15px;
    }
    .comment-info-input{flex-direction:column;}
    .comment-info-input input{max-width:100%;margin-top:5px}

    .board-item{
        width: 30%;
        min-width: 30%;
        max-width: 30%;
        margin: 1.6%;
    }
}

/* media query for responsive design */
@media screen and (min-width:769px){
    .board-item{
        width: 22%;
        min-width: 22%;
        max-width: 22%;
        margin: 1.5%;
    }
}
@media screen and (max-width:400px){
    .board-item{
        width: 45%;
        min-width: 45%;
        max-width: 45%;
        margin: 2.5%;
    }
    .site-bg,.site-bg-mask{
        display: none
    }
}

@keyframes shake-shake {
	0% {
		text-shadow: 0 0 rgba(0,255,255,.5),0 0 rgba(255,0,0,.5);
		transform: rotate(0.7deg);
	}

	25% {
		text-shadow: -1px 0 rgba(0,255,255,.5),1px 0 rgba(255,0,0,.5);
		transform: rotate(-0.7deg);
	}

	50% {
		text-shadow: -3px 0 rgba(0,255,255,.5),2px 0 rgba(255,0,0,.5);
		transform: rotate(0.7deg);
		transform: translateX(1px);
	}

	100% {
		text-shadow: 2px 0 rgba(0,255,255,.5),3px 0 rgba(255,0,0,.5);
		transform: rotate(-0.7deg);
		transform: translateX(-1px);
	}
}


/* fonts */
@font-face{
    font-family:"Makinas";
    src:url("../fonts/Makinas-Scrap-5.ttf");
}
@font-face{
    font-family:"Consola";
    src:url("../fonts/consola.ttf");
}
@font-face {
	font-family:bgmSigmarOne;src:url('../fonts/bgmSigmarOne.woff.ttf');font-weight:strong;
}